[Unit]
Description=Attach Wi2Wi CSR Bluetooth Adapter hardwired to ttyO1
Requires=bluetooth.service
After=bluetooth.service
Wants=bluetooth.target
Before=bluetooth.target

[Service]
ExecStart=/usr/sbin/hciattach -n ttyO1 csr

[Install]                                                                       
WantedBy=bluetooth.target
