[Unit]
Description=User Mode Init Manager (UIM) for TI Shared Transport
Before=bluetooth.service

[Service]
Type=idle
ExecStartPre=/sbin/modprobe btwilink
ExecStart=/usr/bin/uim
ExecStopPost=/sbin/modprobe -r btwilink

[Install]
WantedBy=multi-user.target
