[Unit]
Description=Attach WiLink8 Bluetooth Adapter hardwired to ttymxc4
Wants=bluetooth.service

[Service]
ExecStart=/usr/bin/hciattach -n ttymxc4 texas
# is UIM needed?

# The install section is not needed as this can be a static service
# activated by udev.
#[Install]
#WantedBy=bluetooth.target
